<div>
	<div>
		<span class="tag">{{labels.portletNamespace}}:</span>
		<span class="value">{{params.portletNamespace}}</span>
	</div>
	<div>
		<span class="tag">{{labels.contextPath}}:</span>
		<span class="value">{{params.contextPath}}</span>
	</div>
	<div>
		<span class="tag">{{labels.portletElementId}}:</span>
		<span class="value">{{params.portletElementId}}</span>
	</div>
	
	<div>
		<span class="tag">{{labels.configuration}}:</span>
		<span class="value pre">{{configurationJSON}}</span>
	</div>

	<div>
		<span class="tag">{{labels.pageConfigured}}:</span>
		<span class="value pre">{{configurationPage}}</span>
	</div>
	
	<button id="samePage" (click)="throwBall()" >Throw Ball by event to the same page</button>
		
	<button id="queryString" (click)="throwBallAway()">Throw Ball by queryString param to other page!</button>
		
	<button id="bySession" (click)="throwBySession()">Throw Ball by Session to other page!</button>
	
</div>
