// changing variables from the theme, this variable is in build/css/portlet/_variables.scss
$portlet-decorate-bg: #4e6a9c;

// changing variables from the theme, this variable is in build/css/clay/bootstrap/_variables.scss
$body-bg: #ccddfe;

// changing variables from the theme, this variable is in build/css/clay/bootstrap/_variables.scss
$primary: yellow;

//creating a new variable
$nav-color-hover: #3599eb;
$body-background-application:#bdc5ca70;;

