<div class="custom-background-application">
	<div>
Image:	<img class="img-responsive" src="{{relativeImagePath}}">
	</div>
	<div>
		<span class="tag">{{labels.portletNamespace}}:</span>
		<span class="value">{{params.portletNamespace}}</span>
	</div>
	<div>
		<span class="tag">{{labels.contextPath}}:</span>
		<span class="value">{{params.contextPath}}</span>
	</div>
	<div>
		<span class="tag">{{labels.portletElementId}}:</span>
		<span class="value">{{params.portletElementId}}</span>
	</div>
	
	<div>
		<span class="tag">{{labels.configuration}}:</span>
		<span class="value pre">{{configurationJSON}}</span>
	</div>
	
	<div>
		<span class="tag">{{labels.message}}:</span>
		<span class="communicationMessage value" >{{communication.message}}</span>
	</div> 
	
</div>
